$primary-color: #064800;
$secondary-color: #ffe066;
$tertiary-color: #b5c99a;
$text-light: #f8faf5;
$text-dark: #3e4c2c;

$x-color: #b94e48;
$checked-color: #7bb661;
$star-color: #ffe066;

$bg-solution: #f4fbe9;
$bg-problem: #fffbe5;
$bg-icons: #e2f0cb;
$bg-cards: #f8faf5;