# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnpm-debug.log*

# Build output
dist/
build/
out/
.next/
.cache/
coverage/

# Environment variables
.env
.env.*.local

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
logs/
*.log

# Misc
*.local
.idea/
*.sublime-workspace
*.sublime-project